@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Software engineer and enthusiast, enjoying all things digital. </a>.</p>
    <p>Hobbies - Fishing, kitesurfing, and soccer.</a></p>
</div>
