@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>LinkedIn  - <a href="https://www.linkedin.com/in/brent-afonso-81439384/" target="_blank">LinkedIn Page</a>.</p>
    <p>Facebook  - <a href="https://www.facebook.com/brent.afonso/" target="_blank">Facebook Page</a>.</p>
    <P>Email me - <a href="mailto:brentafonso@gmail.com">Email Link</a></P>
</div>
