@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your management solution</h1>
    <p>This business management solution helps to manage people, their accounts and transactions logged against these accounts. </a>.</p>
</div>
